body{ 
    margin: 0px;
}
h2{
    padding-top: 25px;
    padding-bottom: 20px;
}
.container{
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    height: 100vh;
    width: 100%;
}

.about{
    text-align: center;
    font-size: large;
    background-color: rgba(145, 158, 167,0.5);
    height: 30vh;
    width: 70%;
    border: black 1px solid;
    border-radius: 50px;
    margin-bottom: 0px;
}
.about,.contact-us,.services {
    backdrop-filter: blur(10px);
}
.group{
    display: flex;
    padding: 0;
    margin-top: 0px;
    justify-content: space-around;
}
.services{
    text-align: center;
    font-size: large;
    background-color: rgba(145, 158, 167,0.5);
    height: 40vh;
    width: 45%; 
    border: black 1px solid;
    border-radius: 50px; 
}

.services button{
    background-color: #001f3f;
    color: #ffff;
    border-radius: 50px;
    font-size: large;
    margin-top: 30px;
    height: 20%;
    width: 40%;
}

.services button:hover{
    background-color: #5dade2;
}

.div{
    display: flex;
}

.contact-us{
    text-align: center;
    font-size: large;
    background-color: rgba(145, 158, 167,0.5);
    height: 40vh;
    width: 45%;
    border-radius: 50px;
    border: black 1px solid;
}

.contact-us button{
    background-color: #001f3f;
    color: #ffff;
    border-radius: 50px;
    font-size: large;
    margin-top: 30px;
    height: 20%;
    width: 40%;
}

.contact-us button:hover{  
    background-color: #5dade2;
}
p{
    margin: 10px;
}

video{
    opacity: 100%;
    position: fixed;
    min-height: 100%;
    min-width: 100%;
    z-index: -1;
    filter: brightness(0.7);

}
footer{
    position: absolute;
    
    background: #000f3f;
    padding: 20px;
    width: 97.4%;
    text-align: center;
    color: white;

    }


@media (max-width: 900px) {
    
    .container{
        height: 1vh;
    }
    footer{
        background-color: #001f3f;
    }
    .container{
     height: 10%;
     padding-top: 5%;   
    }
    .group{
        display: flex;
        padding-top: 20px;
    }
    .contact-us{
        height: 30vh;
    }
    .services{
        height: 30vh;
    }

    
    
}
@media (max-width: 500px) {
    
    h2{
        font-size: large;
        padding-bottom: 0%;
    }
    
    p{
        font-size: small;
    }
    .about h2{
        padding-bottom: 25px;
    }
    .container{
     height: 20%;
     padding-top: 5%;   
    }
    .group{
        display: flex;
        padding-top: 20px;
    }
    .services button{
        font-size: small;
        margin-top: 7%;
        width: 60%;
    }
    .services{
    height: 30vh;   
    }
    .contact-us button{
        font-size: small;
        margin-top: 7%;
        width: 60%;
    }
    .contact-us{
        height: 30vh;
    }
    footer{
        margin-bottom: -68px;
        width: 90%;
    }
    .hamburger{
        margin-right: 7%;
    }
    
}
@media (max-width: 400px) {

    header{
        margin-top: 5%;
    }
    .about{
        padding-top: 0%;
    }
    
    .group{
        margin-bottom: 10%;
    }
    .container h2{
        margin-top: 5%;
        font-size: large;
    }
   .container p{
        font-size: small;
    }
    
    .container{
        margin-bottom: 10%;
    }
    
    footer{
        margin-bottom: -25%;
        width: 89.5%;
    }
    .hamburger{
        margin-right: 5%;
    }
    
}
@media (max-width: 380px) {

    .logo{
        margin-left: -50%;
        
    }

    header{
        margin-top: 15%;
    }
    .about{
        padding-top: 0%;
    }
    
    .group{
        margin-bottom: 10%;
    }
    .container h2{
        margin-top: 9%;
        margin-bottom: -8%;
        font-size: large;
    }
   .container p{
        font-size: small;
    }
    
    .container{
        margin-bottom: 10%;
    }
    
    footer{
        margin-bottom: -25%;
        width: 89.5%;
    }
    .hamburger{
        margin-right: 5%;
    }
    
}
/* Code for the SE */
@media (max-width: 380px) and (max-width:700px) {

    header{
        margin-top: 15%;
    }
    .about{
        padding-top: 0%;
    }
    
    .container h2{
        margin-top: -2%;
        margin-bottom: -8%;
        font-size: large;
    }
   .container p{
        font-size: small;
    }
    
    .container{
        margin-bottom: 10%;
    }
    .group p{
        margin-top: 15%;
        font-size: x-small;
    }
    
    footer{
        margin-bottom: -25%;
        width: 89.5%;
    }
    .hamburger{
        margin-right: 5%;
    }
    
}


.hamburger {
    display: none;
    font-size: 28px;
    color: white;
    cursor: pointer;
  }
  
  
  .sidebar {
    height: 100%;
    width: 0;
    position: fixed;
    top: 0;
    right: 0;
    background-color: #001f54;
    overflow-x: hidden;
    transition: width 0.3s ease;
    padding-top: 60px;
    z-index: 1100;
  }
  
  .sidebar a {
    padding: 15px 30px;
    text-decoration: none;
    font-size: 18px;
    color: white;
    display: flex;
    align-items: center;
    gap: 10px;
    transition: background 0.3s;
  }
  
  .sidebar a:hover {
    background-color: #003580;
  }
  
  .sidebar .closebtn {
    position: absolute;
    top: 15px;
    right: 25px;
    font-size: 26px;
    color: white;
    cursor: pointer;
  }
  
  
  @media (max-width: 768px) {
    nav ul {
    display: none; 
  }
  
  .hamburger {
    display: block; 
    }
  
  .sidebar.active {
    width: 250px; 
    }

}