body{ 
}

main{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
 
}
.container{
    margin-top: 50px;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    width: 100%;
    gap: 10px;
}

.about{
    text-align: center;
    font-size: large;
    background-color: rgba(145, 158, 167,0.9);
    border: black 1px solid;
    border-radius: 25px;
    padding: 40px 30px;
    box-shadow: 0 4px 15px rgba(0, 0, 0, 0.2);
    max-width: 900px;
}
.group{
    margin: 40px;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}
.services{
    text-align: center;
    font-size: large;
    background-color: rgba(145, 158, 167,0.9);
    border: black 1px solid;
    border-radius: 20px; 
    padding: 30px;
    box-shadow: 0 4px 15px rgba(0, 0, 0, 0.2);
    max-width: 600px;
}

.services button{
    background-color: #001f3f;
    color: #ffff;
    border-radius: 12px;
    border: none;
    font-size: large;
    padding: 12px 30px;
    transition: all 0.3s ease;
    cursor: pointer;
}

.services button:hover{
    background-color: #5dade2;
    transform: scale(1.05);
}

.contact-us{
    margin: 50px;
    margin-bottom: 5px;
    text-align: center;
    font-size: large;
    background-color: rgba(145, 158, 167,0.9);
    border: black 1px solid;
    border-radius: 20px;
    padding: 30px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.15);
    max-width: 600px;
}

.contact-us button{
    background-color: #001f3f;
    color: #ffff;
    border-radius: 12px;
    border:none;
    font-size: large;
    padding: 12px 30px;
    transition: all 0.3s ease;
    cursor: pointer;
}

.contact-us button:hover{  
    background-color: #5dade2;
    transform: scale(1.05);
}


footer {
    background: #001f3f;
    padding: 20px;
    text-align: center;
    color: white;
}



video{
    opacity: 100%;
    position: fixed;
    min-height: 100%;
    min-width: 100%;
    z-index: -1;
    filter: brightness(0.7);

}
