


header{
    display: flex;
    position: absolute;
    justify-content: space-between;
    width: 100%;
    top: 0;
    left: 0;
    align-items: center;
    padding: 20px;        
    background: transparent; 
    z-index: 10;
}


.CP{
    height: 100vh;
    display: flex;
    background-image: url('/Welcome page/images/hands1.jpg');
    justify-content: center;
    align-items: center;
    text-align: center;
    flex-direction: column;
    background-size:cover;
    background-repeat: no-repeat;
    background-position: center;
}

.CP h1{
    color: white;
    font-size: 60px;
    margin-top: -150px;
    padding-bottom: 20px;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}

.CP h2{
    color: white;
    font-size: 28px;
    padding-bottom: 10px;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}

.CP p{
    color: white;
    font-size: 23px;
    margin: 10px auto;
    line-height: 1.6;
    max-width: 880px;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    
}

.CP .btn{
    display: flex;
    font-size: large;
    padding: 18px 20px;
    background-color: #000f3f;
    color: white;
    border-radius: 10px;
    text-decoration: none;

}

p{
    color: white;
}



.footer {
    background: #001f3f;
    padding: 20px;
    text-align: center;
    color: white;
}



