body{
    background-color: antiquewhite;
}

.intro{
    text-align: center;
}

.image img.sigh {
    width: 150px;
    border-radius: 50%;
}
.hr{
    border: none;
    border-top: solid 1px #000f3f;
    margin-left: 20px;
    height: 10px;
    color: blue;
    margin-right: 20px;
}

.container{
    display: flex;
    gap: 20px;
    flex-wrap: nowrap;
    overflow-x: hidden;
    justify-content: center;
    align-items: center;
    padding: 20px;
    width: 100%;
    height: 400px;
    background-color: #000f3f;
    
}

.item {
    position: absolute;
    display: none;  
    background-color: lightgray;
    width: 250px;
    margin: 30px 5px;
    padding: 20px 20px 40px;
    text-align: center;
    box-sizing: border-box;
    border-radius: 20px; 
    transition: transform 0.3s ease, box-shadow 0.3s ease; 
}
.item:hover{
    transform: scale(1.05);
    box-shadow: 0 8px 20px rgba(0, 0, 0, 0.3); /* stronger shadow */
    background-color: lightblue;
   
}
button{
    margin-top: 5px;
    padding: 5px;
    border: solid 2px black;
    border-radius: 8px;
    background-color: lightgray;
    box-shadow: 0 5px 12px black;
}
button:hover{
    background-color: white;
    cursor: pointer;
}
/* button code */
.left{
    position: absolute; 
    text-align: center;
    font-size: large;
    background-color: #5dade2;
    border: none;
    height: 10%;
    width: 3%;
    left:0; 
    margin: 3%; 
}
.left:hover {
    background-color: hsl(204, 70%, 70%);
}
.right{
    position: absolute; 
    text-align: center;
    font-size: large;
    background-color: #5dade2;
    border: none;
    height: 10%;
    width: 3%;
    right:0; 
    margin: 3%; 
}
.right:hover {
    background-color: hsl(204, 70%, 70%);
}

/* The testimoanial code */

.testimonial-container {
    justify-content: center;
    display: flex;         /*I added this so the horizontal scroll works (without display: flex) the testimonials stacked vertically by default.*/  
    gap: 3%;
    overflow-x: hidden;    /*and also same story as the display: flex */  
    padding: 50px;
    width: 100%;
    height: 400px;
    background-color: #000f3f;
    box-sizing: border-box;
    margin-bottom: 80px;
}
.testimonial {
    position: absolute;
    display: none;
    flex: 0 0 auto;          
    width: 500px;
    height: 300px;
    background-color: lightgray;
    box-shadow: 0 5px 10px black;
    padding: 20px;
    text-align: center;
    overflow-y: auto;        
    box-sizing: border-box;
    border-radius: 20px;
    transition: transform 0.3s ease, box-shadow 0.3s ease;

}
.testimonial:hover{
    transform: scale(1.05);
    box-shadow: 0 8px 20px rgba(0, 0, 0, 0.3);
    background-color: lightblue;
}

.footer{

    bottom: 0;
    background: #000f3f;
    padding: 20px;
    width: 100%;
    text-align: center;
    color: white;
}

.toPrimary{
    display: block;
    animation-name: toPrimary; 
    animation-duration: 1s;
    animation-timing-function: ease-out;
    animation-fill-mode: forwards;
}
.toSecondary{
    display: block;
    animation-name: toSecondary; 
    animation-duration: 1s;
    animation-timing-function: ease-in;
    animation-fill-mode: forwards;
}
.toEnter{
    display: block;
    animation-name: toEnter; 
    animation-duration: 1s;
    animation-timing-function: ease-out;
    animation-fill-mode: forwards;
}

.reversePrimary{
    display: block;
    animation-name: reversePrimary; 
    animation-duration: 1s;
    animation-timing-function: ease-out;
    animation-fill-mode: forwards;
}
.reverseSecondary{
    display: block;
    animation-name: reverseSecondary; 
    animation-duration: 1s;
    animation-timing-function: ease-in;
    animation-fill-mode: forwards;
}
.reverseEnter{
    display: block;
    animation-name: reverseEnter; 
    animation-duration: 1s;
    animation-timing-function: ease-out;
    animation-fill-mode: forwards;
}

@keyframes toPrimary{
    from{
        transform: translateX(120%);
        opacity: 70%;
    }
    to{
        transform: translateX(100%);
        transform: scale(1.1);     
    }
    
}
@keyframes reversePrimary {
    from{
        transform: translateX(-200%);
        opacity: 0%;
    }
    to{
        transform: translateX(-120%);
        opacity: 70%;
            
    }
}

@keyframes toSecondary {
    from{
        transform: translateX(100%);
        transform: scale(1.1);
    }
    to{
        transform: translateX(-120%);
        opacity: 70%;
    }
    
}
@keyframes reverseSecondary {
    from{
        transform: translateX(100%);
        transform: scale(1.1);
    }
    to{
        transform: translateX(120%);
        opacity: 70%;    
    }
}

@keyframes toEnter {
    from{
        transform: translateX(200%);
        opacity: 0%;
    }
    to{
        transform: translateX(120%);
        opacity: 70%;    
    }
}
@keyframes reverseEnter {
    
    from{
        transform: translateX(-120%);
        opacity: 70%;
    }
    to{
        transform: translateX(100%);
        transform: scale(1.1);
        
    }
    
    
}