body {
    background-color: antiquewhite;
}


.header {
    text-align: center;
    padding: 100px 40px 40px;
    background: #000f3f;
    color: white;
}



.intro{
    text-align: center;
}

.hr{
    border: none;
    border-top: solid 1px #000f3f;
    margin-left: 20px;
    height: 10px;
    color: blue;
    margin-right: 20px;
}

nav ul {
    list-style-type: none;
    display: flex;
    justify-content: center;
    gap: 30px;
}

nav ul li a {
    text-decoration: none;
    color: white;
    display: inline-block;
}




.container {
    display: flex;     /*This is the horizontal layout*/      
    gap: 20px;
    flex-wrap: nowrap;       /*This will prevent the wrapping*/
    overflow-x: hidden;      /* i had noticed that in the testimonials there was a scrollbar, so i made the scrollbar hidden*/
    padding: 20px;
    width: 100%;
    background-color: #000f3f;
}

.item {
    flex: 0 0 auto;          
    width: 250px;
    background-color: lightgray;
    box-shadow: 0 5px 10px black;
    /*border: 4px solid lightgrey;*/
    margin: 30px 10px;
    padding: 20px 20px 40px;
    text-align: center;
    box-sizing: border-box;
    border-radius: 20px;
    transition: transform 0.3s ease, box-shadow 0.3s ease;
}
.item:hover{
    transform: scale(1.05);
    box-shadow: 0 8px 20px rgba(0, 0, 0, 0.3); /* stronger shadow */
    background-color: lightblue;
   
}
.image img.sigh {
    width: 150px;
    border-radius: 50%;
}

button{
    margin-top: 5px;
    padding: 5px;
    border: solid 2px black;
    border-radius: 8px;
    background-color: lightgray;
    box-shadow: 0 5px 12px black;
}

button:hover{
    background-color: white;
    scale: 1.1;
    cursor: pointer;
}

.testimonial-container {
    display: flex;         /*I added this so the horizontal scroll works (without display: flex) the testimonials stacked vertically by default.*/  
    gap: 32px;
    overflow-x: hidden;    /*and also same story as the display: flex */  
    padding: 50px;
    width: 100%;
    background-color: #000f3f;
    box-sizing: border-box;
    margin-bottom: 80px;
}

.testimonial {
    flex: 0 0 auto;          
    width: 500px;
    height: 300px;
    background-color: lightgray;
    box-shadow: 0 5px 10px black;
    padding: 20px;
    text-align: center;
    overflow-y: auto;        
    box-sizing: border-box;
    border-radius: 20px;
    transition: transform 0.3s ease, box-shadow 0.3s ease;

}
.testimonial:hover{
    transform: scale(1.05);
    box-shadow: 0 8px 20px rgba(0, 0, 0, 0.3);
    background-color: lightblue;
}

footer {
    
    width: 100%;
    background-color: #000f3f;
    padding: 20px;
    text-align: center;
    color: #fdf6e2;
}

.hamburger {
    display: none;
    font-size: 28px;
    color: white;
    cursor: pointer;
}


.sidebar {
    height: 100%;
    width: 0;
    position: fixed;
    top: 0;
    right: 0;
    background-color: #001f54;
    overflow-x: hidden;
    transition: width 0.3s ease;
    padding-top: 60px;
    z-index: 1100;
}

.sidebar a {
    padding: 15px 30px;
    text-decoration: none;
    font-size: 18px;
    color: white;
    display: flex;
    align-items: center;
    gap: 10px;
    transition: background 0.3s;
}

.sidebar a:hover {
    background-color: #003580;
}

.sidebar .closebtn {
    position: absolute;
    top: 15px;
    right: 25px;
    font-size: 26px;
    color: white;
    cursor: pointer;
}


@media (max-width: 768px) {
    nav ul {
    display: none; 
}

.hamburger {
    display: block; 
    }

.sidebar.active {
    width: 250px; 
    }

}
@media (max-width: 500px) {
    .footer{
        position: fixed;
        bottom: 0;
        width: 85%;
    }



